<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/skeleton-post.md"
      importName="NguixPostComponentModule"
      htmlCode="&lt;nguix-skeleton-post&gt;&lt;/nguix-skeleton-post&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <nguix-skeleton-post></nguix-skeleton-post>
      </div>
    </ng-template>

  </ng-template>

</div>