<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/posts.md"
      importName="NguixPostsComponentModule"
      htmlCode="&lt;nguix-posts layout=&quot;card&quot; [posts]=&quot;posts&quot;&gt;&lt;/nguix-posts&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <h3 class="margin-top-3x margin-bottom">layout="card"</h3>
        <nguix-posts layout="card" [posts]="(3 | postDataList : { name: 'all posts' } | async) || []"></nguix-posts>
        <h3 class="margin-top-3x margin-bottom">layout="thumbnail"</h3>
        <nguix-posts layout="thumbnail" [posts]="(3 | postDataList : { name: 'all posts' } | async) || []"></nguix-posts>
        <h3 class="margin-top-3x margin-bottom">layout="hybrid"</h3>
        <nguix-posts layout="hybrid" [posts]="(3 | postDataList : { name: 'all posts' } | async) || []"></nguix-posts>
      </div>
    </ng-template>

  </ng-template>

</div>