<div class="template-page" *ngIf="templateData$ | async as templateData; else loading">

  <app-page
    menuName="List of templates"
    [menuItems]="data.templateMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>
    <h2 class="margin-bottom-2x">{{ templateData.title }}</h2>
    <figure class="figure">
      <img class="image" [src]="templateData.thumbnail" [alt]="templateData.title">
      <figcaption class="figure-caption">{{ templateData.description }}</figcaption>
    </figure>
    <div class="actions">
      <button class="button-primary-lg" (click)="activateTemplate(templateData.id)">Activate (TODO)</button>
    </div>
  </ng-template>

</div>

<ng-template #loading>
  <div class="loading">Loading ...</div>
</ng-template>
