<div class="template-page" *ngIf="templateData$ | async as templateData; else loading">
  
  <aside class="menu">
    <app-menu name="List of templates" [items]="data.templateMenu"></app-menu>
  </aside>

  <div class="body">
    <h2>Template</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veritatis natus sit voluptas vitae a, laudantium eaque molestias voluptates sapiente amet velit in ratione aliquam odio unde similique! Voluptates, saepe!
    </p>
  </div>

</div>

<ng-template #loading>
  <div class="loading">Loading ...</div>
</ng-template>
