<header class="app-header">

  <div class="brand">
    <a [usefulRouterLink]="['']">
      <em><img src="/assets/images/logo.svg" alt="Angular UI/UX starters"></em>
      <span class="font-head">NGUIX Starter</span>
    </a>
  </div>

  <ul class="nav">
    <li>
      <a href="https://lamnhan.com/hire" target="_blank">Hire me</a>
    </li>
    <li>
      <a href="https://lamnhan.com/donate" target="_blank">Buy me coffee</a>
    </li>
  </ul>

  <div class="themer">
    <label class="form-switch">
      <input
        type="checkbox"
        [checked]="setting.theme==='dark'"
        (change)="toggleTheme($event)"
      />
      <span class="slider"></span>
    </label>
  </div>

  <div class="action">
    <a class="button-outline-light" href="https://github.com/lamnhan/nguix-starter" target="_blank">
      <nguix-icon base="icon-light" name="github"></nguix-icon>
      <span>Source code</span>
    </a>
  </div>

</header>
