<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/login.md"
      importName="NguixLoginComponentModule"
      htmlCode="&lt;nguix-login&gt;&lt;/nguix-login&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <nguix-login></nguix-login>
      </div>
    </ng-template>

  </ng-template>

</div>