<div class="app-header2nd">
  <ul class="nav">
    <li>
      <a
        [usefulRouterLink]="['']"
        usefulRouterLinkActive="active"
        [usefulRouterLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
      <a [usefulRouterLink]="['guides']" usefulRouterLinkActive="active">Guides</a>
    </li>
    <li>
      <a [usefulRouterLink]="['components']" usefulRouterLinkActive="active">Components</a>
    </li>
    <li>
      <a [usefulRouterLink]="['templates']" usefulRouterLinkActive="active">Templates</a>
    </li>
  </ul>
</div>