<div class="component-header-page">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/header.md"
      importName="NguixHeaderComponentModule"
      htmlCode="&#x3C;nguix-header&#x3E;&#x3C;/nguix-header&#x3E;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <nguix-header [menuItems]="data.exampleMenuItems"></nguix-header>
    </ng-template>

  </ng-template>

</div>