<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/post.md"
      importName="NguixPostComponentModule"
      htmlCode="&lt;nguix-post&gt;&lt;/nguix-post&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <ng-container *ngIf="'a-sample-post' | postDataGet | async; let post;">
          <nguix-post [post]="post"></nguix-post>
        </ng-container>
      </div>
    </ng-template>

  </ng-template>

</div>