<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/videos.md"
      importName="NguixVideosComponentModule"
      htmlCode="&lt;nguix-videos layout=&quot;card&quot; [videos]=&quot;videos&quot;&gt;&lt;/nguix-videos&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <h3 class="margin-top-3x margin-bottom">layout="card"</h3>
        <nguix-videos layout="card" [videos]="(3 | videoDataList : { name: 'all videos' } | async) || []"></nguix-videos>
        <h3 class="margin-top-3x margin-bottom">layout="thumbnail"</h3>
        <nguix-videos layout="thumbnail" [videos]="(3 | videoDataList : { name: 'all videos' } | async) || []"></nguix-videos>
        <h3 class="margin-top-3x margin-bottom">layout="hybrid"</h3>
        <nguix-videos layout="hybrid" [videos]="(3 | videoDataList : { name: 'all videos' } | async) || []"></nguix-videos>
      </div>
    </ng-template>

  </ng-template>

</div>