<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/skeleton-posts.md"
      importName="NguixPostsComponentModule"
      htmlCode="&lt;nguix-skeleton-posts layout=&quot;card&quot;&gt;&lt;/nguix-skeleton-posts&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <nguix-skeleton-posts layout="card"></nguix-skeleton-posts>
      </div>
    </ng-template>

  </ng-template>

</div>