@import '../../../unistylus/src/scss/mixins';

$app_default_icons: (
  ok: 'https://img.icons8.com/ios-glyphs/32/000000/ok.png'
);

$app_light_theme_icons: $app_default_icons;
$app_dark_theme_icons: (
  ok: 'https://img.icons8.com/ios-glyphs/32/ffffff/ok.png'
);

$app_icon_groups: (
  default: $app_light_theme_icons,
  light: $app_light_theme_icons,
  dark: $app_dark_theme_icons,
);

@include registerAppIcons($app_icon_groups);
