<div class="component-footer-page">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/footer.md"
      importName="NguixFooterComponentModule"
      htmlCode="&#x3C;nguix-footer [menuItems]=&quot;menuItems&quot;&#x3E;&#x3C;/nguix-footer&#x3E;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <nguix-footer text="Footer text" [menuItems]="data.exampleMenuItems"></nguix-footer>
    </ng-template>

  </ng-template>

</div>