<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/account.md"
      importName="NguixAccountComponentModule"
      htmlCode="&lt;nguix-account&gt;&lt;/nguix-account&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <div class="demo" *ngIf="!authService.authenticated">
          <h3>Demo note</h3>
          <ul>
            <li>Step 1: Go to the <a [usefulRouterLink]="['component', 'login']">login</a> component.</li>
            <li>Step 2: After logged in, return to this page.</li>
          </ul>
        </div>
        <nguix-account></nguix-account>
      </div>
    </ng-template>

  </ng-template>

</div>