<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/video.md"
      importName="NguixVideoComponentModule"
      htmlCode="&lt;nguix-video [video]=&quot;video&quot;&gt;&lt;/nguix-video&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <ng-container *ngIf="'big-buck-bunny' | videoDataGet | async; let video;">
          <nguix-video [video]="video"></nguix-video>
        </ng-container>
      </div>
    </ng-template>

  </ng-template>

</div>