<div class="host">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="https://raw.githubusercontent.com/lamnhan/nguix-starter/main/docs/content/components/skeleton-videos.md"
      importName="NguixVideosComponentModule"
      htmlCode="&lt;nguix-skeleton-videos layout=&quot;card&quot;&gt;&lt;/nguix-skeleton-videos&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <h3 class="margin-top-3x margin-bottom">layout="card"</h3>
        <nguix-skeleton-videos layout="card"></nguix-skeleton-videos>
        <h3 class="margin-top-3x margin-bottom">layout="thumbnail"</h3>
        <nguix-skeleton-videos layout="thumbnail"></nguix-skeleton-videos>
        <h3 class="margin-top-3x margin-bottom">layout="hybrid"</h3>
        <nguix-skeleton-videos layout="hybrid"></nguix-skeleton-videos>
      </div>
    </ng-template>

  </ng-template>

</div>