<div class="app-compbody">

  <div class="display">
    <h2>Preview</h2>
    <div class="container">
      <div class="code" #code>
        <ng-container *ngTemplateOutlet="componentTemplate || defaultTemplate"></ng-container>
        <ng-template #defaultTemplate>No component provided.</ng-template>
      </div>
    </div>
  </div>

  <div class="usage margin-top-2x">
    <h2>Usage</h2>
    <nguix-content [content]="getUsageContent(code)"></nguix-content>
  </div>

  <div class="api margin-top-2x">
    <h2>API</h2>
    <nguix-content [contentSrc]="apiSrc" content="No API source."></nguix-content>
  </div>

</div>