<div class="component-spinner-page">

  <app-page
    menuName="List of components"
    [menuItems]="data.componentMenu"
    [bodyTemplate]="pageBody"
  ></app-page>

  <ng-template #pageBody>

    <app-compbody
      [componentTemplate]="componentTemplate"
      apiSrc="/content/components/spinner.md"
      importName="NguixSpinnerComponentModule"
      htmlCode="&lt;nguix-spinner&gt;&lt;/nguix-spinner&gt;"
    ></app-compbody>

    <ng-template #componentTemplate>
      <div class="padding">
        <nguix-spinner></nguix-spinner>
      </div>
    </ng-template>

  </ng-template>

</div>